/* This is a custom CSS stylesheet */

footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
}

body{
    background: url(http://127.0.0.1/sandbox/img/school1.png);
	background-color: #444;
    background: url(http://127.0.0.1/sandbox/img/school1.png),url(http://127.0.0.1/sandbox/img/school1.png);   
}

.vertical-offset-100{
    padding-top:100px;
}


